* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background-color: lightgreen;
}

nav a {
  margin-right: 70px;
  color: white;
  text-decoration: underline;
}

.list-wrapper {
  width: 90%;
  margin: auto;
}
.list-wrapper .pokemon-item {
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid darkred;
  padding: 10px;
  border-radius: 8px;
}
.list-wrapper a {
  color: darkblue;
  text-decoration: none;
}

.poke {
  width: 90%;
  margin: auto;
}

.pokemon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pokemon-wrapper .item {
  width: 20%;
}
.search-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pagination {
  width: 300px;
  display: flex;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}
